@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

$bg-primary: #251d5c;
$bg-secondary: #4a2681;
$font-color-red: #fb3a5a;
$font-color-primary: #563299;
